$icomoon-font-family: "icons" !default;
$icomoon-font-path: "../../fonts" !default;

$icon-quote-left: unquote('"\\e900"');
$icon-facebook: unquote('"\\e901"');
$icon-linkendin: unquote('"\\e902"');
$icon-pinterest: unquote('"\\e903"');
$icon-twitter: unquote('"\\e904"');
$icon-youtube: unquote('"\\e905"');

